<!doctype html>
<html>
    <!-- this is the main handlebar, the master template to which applies to all related referenced html pages -->
    <head>
        <title>American Robin Travel</title>
    </head>
    <body>
        <header><img src="/img/ART_logo.jpg" alt= "American Robin Travel Logo"></header>
        {{{body}}}
    </body>
</html>